@import "sass/vars";

html, body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $bg-main;
}

#root {
    height: 100%;
    width: 100%;
    font-family: 'Stoke', serif;
}

.app {
    height: 100%;
    width: 100%;
    background-color: $bg-main;
}

.multi-enter, multi-appear {
    opacity: 0;
    // transform: translateX(-100%);
    z-index: 111111;
}

.multi-enter.multi-enter-active, multi-appear-active {
    opacity: 1;
    // transform: translateX(0);
    transition: opacity 300ms ease;
}

.multi-exit {
    opacity: 1;
}

.multi-exit.multi-exit-active {
    opacity: 0;
    transition: opacity 300ms ease;
}

