@import "sass/vars";
@import "sass/mixins";

.topics {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bg-main;
    // border: 1px solid red;
    margin: 0 auto;
    color: $text-color;
}

.back-home {
    height: 50px;
    display: flex;
    // padding-top: 10px;
    .back-home-link {
        @include home-nav-btn;
    }
}

.descr-topics {
    padding-top: 10px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.topics-list {
    ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
        padding-left: 20px;
        li {
            list-style-type: none;
            margin: 20px 0;
            position: relative;
            box-sizing: border-box;
            min-height: 60px;
            .topic-name {
                border: 1px solid $border-color;
                text-decoration: none;
                border-radius: 10px;
                background-color: $border-color;
                padding: 0 15px;
                height: 100%;
                transition: 300ms;
                width: 70%;
                box-sizing: border-box;
                position: absolute;
                &:hover {
                    box-shadow: 0px 0px 5px 0px rgba(204,204,12,1);
                }
                a {
                    text-decoration: none;
                    height: 100%;
                    display: flex;
                    color: $text-color;
                    align-items: center;
                }
            }

            span.arrow-li {
                font-size: 40px;
                position: absolute;
                right: -40px;
                top: 50%;
                transform: translateY(-50%);
                transition: 800ms;
            }
        }
    
    }
}
